.film-info {
    font-size: 1.2em;

    &-bage {
        font-size: 0.8em;

        &:not(:last-child) {
            margin-right: 3%;
        }
    }

    &-well {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.film-send-comment {
    .btn {
        float: right;
    }
}
